%h3= dish_name
%table.table.table-striped
  %thead
    %tr
      %th Choose
      %th Name
      %th Price
      %th Image
  %tbody
    - dishes.each_with_index do |dish, i|
      %tr.option
        %td= radio_button_tag("order[#{dish_type}_id]", dish.id, checked = i.zero?)
        %td= dish.name
        %td= dish.price
        %td= image_tag(dish.image.url, style: 'height: 140px') unless dish.image.blank?
