%html
  %head
    %title Lunch Ordering Saas
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        = link_to 'LOS', '#', class: 'navbar-brand'
        %button.navbar-toggler{type: :button, 'data-toggle': 'collapse', 'aria-expanded': false, 'aria-label': 'Toggle navigation'}
          %span.navbar-toggler-icon

        .collapse.navbar-collapse
          - if current_user&.admin?
            = render 'layouts/admin_nav_bar'
          - else
            = render 'layouts/user_nav_bar'

        %form.form-inline.my-2.my-md-0
          = link_to('Logout', destroy_user_session_path, method: :delete) if current_user

    %br
    .container
      .row
        .col-lg-12
          = render 'shared/flash_messages', flash: flash
          = yield
